@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
    color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-weight: 300;

    background-color: black;
    margin: 0;
    overflow: hidden;
}

span {
    margin: 1em;
}

#overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

#overlay * {
    pointer-events: all;
}

#overlay-top {
    position: absolute;
    top: 0;
    width: 100%;
}

#overlay-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.hidden {
    display: none;
}

table {
    font-size: 0.8em;
    border-spacing: 5px;
}

th { /* Table header */
    border-bottom: 2px #808080;
}

.flip-button::before {
    content: "▼";
}

.satellite-info.full .flip-button::before {
    content: "▲";
}

.panel {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.overlay-panel {
    overflow-y: auto;
    overflow-x: hidden;
}

#overlay-right {
    background-color: #3f3f3fc7;
    height: 100%;
    right: 0;
    left: auto;
    position: absolute;
    text-align: left;
    padding: 1em;
}

#overlay-left {
    background-color: #3f3f3fc7;
    height: 100%;
    right: auto;
    left: 0;
    position: absolute;
    text-align: left;
    padding: 1em;
}

.clickable {
    cursor: pointer;
    text-decoration: underline;
}

.icon {
    box-sizing: border-box;
    transition: 100ms all ease;
    margin: 0;
    font-size: 1em;
    display: inline-block;
    position: relative;
}

#branding {
    position: absolute;
    left: 0;
    font-size: 0.7em;
}

/* For the Hall of Fame */

#authors {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    font-size: medium;
}

.list {
    background-color: #202020;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0.75em;
}

li a:hover {
    background-color: #808080;
}