@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

body {
  color: rgb(255, 255, 255);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 300;

  background-color: black;
  margin: 0;
  overflow: hidden;
}

span {
  margin: 1em;
}

#satellite-nameplate {
  position: absolute;
  margin-top: 0.5em;
  margin-left: 0.8em;
  padding: 0.2em;
  background-color: #202020;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

#overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}

#overlay * { 
  pointer-events: all; 
}

#overlay-top {
  position: absolute;
  top: 0;
  width: 100%;
}

#overlay-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#selection-box {
  padding: 1em;
}

.hidden {
  display: none;
}

table {
  font-size: 0.8em;
  border-spacing: 5px;
}

th { /* Table header */
  border-bottom: 2px solid gray;
}

.satellite-info {
  background-color: #575555b0;
  padding: 0.5em;
  margin-top: 0.5em;
  position: relative;
}

.satellite-info h1 {
  font-size: 1em;
  margin: 0;
  display: inline-block;
}

.satellite-info table {
  font-size: 0.8em;
  border-spacing: 5px;
  display: none;
}

.satellite-info.full table {
  display: block;
}

.info-buttons {
  position: absolute;
  top: 0;
  right: 0;
  height: 2em;
}

.info-buttons button {
  border: 0;
  border-radius: 0;
  color: #a5a5a5;
  background-color: transparent;
  height: 100%;
}

.flip-button::before {
  content: "▼";
}

.satellite-info.full .flip-button::before {
  content: "▲";
}

.remove-button {
  background-color: #c1c1c11a;
}

.remove-button::before {
  content: "×";
}

.panel {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.overlay-panel {
  overflow-y: auto;
  overflow-x: hidden;
}

#overlay-right {
  background-color: #3f3f3fc7;
  height: 100%;
  width: 18em;
  right: 0;
  left: auto;
  position: absolute;
  text-align: left;
}

#overlay-left {
  background-color: #3f3f3fc7;
  height: 100%;
  width: 18em;
  right: auto;
  left: 0;
  position: absolute;
  text-align: left;
}

#canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#timeline {
  width: 70%;
  display: inline-block;
  margin: 0.2em;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 2.5em;
  background: #202020;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  vertical-align: middle;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 2em;
  height: 100%;
  background: #ccc;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

.slider::-moz-range-thumb {
  width: 2em;
  height: 100%;
  background: #ccc;
  cursor: pointer;
  border: none;
  border-radius: 0;
}

button {
  width: 3em;
  height: 1.3em;
  border-radius: 0.1em;
  font-size: 0.75em;
  color: #202020;
  background-color: #ccc;
  border: 1px solid white;
  margin: 0.1em;
  padding: 0.1em;
  vertical-align: middle;
  
  transition: 100ms all ease;
  cursor: pointer;
}

.search-select-button-yes {
  background-color: #77bb77;
}

.icon {
  box-sizing: border-box;
  transition: 100ms all ease;
  margin: 0;
  font-size: 1em;
  display: inline-block;
  position: relative;
}

.direction-icon {
  width: 2em;
  height: 1.1em;
  font-size: 0.5em;
  transition: none;
}

.direction-icon.backward {
  transform: scale(-1, 1);
}

.arrow {
  position: absolute;
  width: 100%;
  height: 0.3em;
  background-color: #202020;
}

.arrow::after {
  content: '';
  position: absolute;
  width: 1.2em;
  height: 0.3em;
  top: -0.33em;
  right: -0.4em;
  background-color: #202020;
  transform: rotate(45deg);
}

.arrow::before {
  content: '';
  position: absolute;
  width: 1.2em;
  height: 0.3em;
  top: 0.33em;
  right: -0.4em;
  background-color: #202020;
  transform: rotate(-45deg);
}

.stop-icon {
  border-color: #202020;
  border-style: solid;
  border-width: 0.45em;
  width: 0.8em;
  height: 0.8em;
  margin-bottom: 0.08em;
}

.pause-icon {
  border: 0;
  display: inline-block;
  background: transparent;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 1em;
  margin-left: 0.3em;

  border-color: transparent transparent transparent #202020;
  border-style: solid;
  border-width: 0.5em 0.0em 0.5em 0.81em;
}

.pause-icon.paused {
  border-style: double;
  margin-left: 0;
  border-width: 0em 0em 0em 0.81em;
}

#branding {
  position: absolute;
  left: 0;
  font-size: 0.7em;
}

#fractal-choice {
  position: absolute;
  right: 0;
  font-size: 0.7em;
  background-color: transparent;
  color: white;
  border: none;
}