body {
    color: white;
    font-family: Comic Sans MS;
}

#helloworld_container {
    /*background-color: red;*/
    z-index: -1; /* background */

    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto; /* If content overflows the screen */
}

#helloworld {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}